// ------ H1 -------
@mixin h1 {
    font-family: 'Geist';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

h1, .h1 {
    @include h1;
}

// ------ H2 -------
@mixin h2 {
    font-family: 'Geist';
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
}

h2, .h2 {
    @include h2;
}

// ------ H3 -------
@mixin h3 {
    font-family: 'Geist';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
}

h3, .h3 {
    @include h3;
}

// ------ P -------w
@mixin p {
    font-family: 'Geist';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}

p, .p {
    @include p;
}


// ------ MONO -------
@mixin mono {
    font-family: 'Geist';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 3%;
}

.mono {
    @include mono;
}



